<div class="container">
  <div class="row">
    <div class="col">
      <span>List</span>
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of todo.todos; let i = index"><button class="btn btn-danger pull-right" (click)="todo.del(i)">Delete</button> {{item.name}}</li>
        </ul>
    </div>
    <div class="col">
      <span>Add New</span>
      <form>
        
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="todo.todo.name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <input type="text" name="details" [(ngModel)]="todo.details" class="form-control" placeholder="Details">
        </div>

        <div class="form-group">
            <input type="date" name="date" [(ngModel)]="todo.date" class="form-control" placeholder="Date">
        </div>

        <div class="form-group">
            <input type="checkbox" value="true" name="status" [(ngModel)]="todo.status" class="form-check-input" id="status">
            <label for="status" class="form-check-label">Status</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="todo.add()">Submit</button>
      </form>
    </div>
  </div>

</div>